- title "Registered Political Parties"
- breadcrumb 'parties', request.fullpath

%p.small.grey
  The following parties are <a href="/pages/2/faq/#parties">registered</a> with Elections Manitoba. Parties are displayed in random order.

.flow_it.parties
  - for party in @parties
    = render party, :hide_address => true
