- title 'Election Issue Resources', false
- breadcrumb 'election issue resources', request.fullpath

%div.flow_it
  %div.three_columns
    %h2 Election Issue Resources
    %p
      This is a comprehensive list of websites from various interests, organizations, and stakeholder groups that promote provincial election issues relating to the upcoming 2011 election. Websites are listed in random order. 
    %br
    %ul.issues
      - @issues.each do |issue|
        %li= render issue
    %br
    %br
    %p 
      %em
        A link on this page does not constitute an endorsement or recommendation by ManitobaElection.ca.
    %br
    %h4 Issue Website Criteria
    %p.small
      The search criteria used to find these issue sites can be found in <a href="/pages/2/faq#issues">our FAQ</a>.
    %p.small 
      If you have created or are aware of an election issue website that is not featured here, please bring it to our attention by <a href="/pages/1/about-us">contacting us</a>. 
    %p.small
      %em
        ManitobaElection.ca will not post websites that promote violence, hatred, or intolerance towards any identifiable group or person. We will not post websites that are the product of a registered political party. 
      
