- title "Latest Provincial Election News"
- breadcrumb('latest news', request.fullpath)

.flow_it
  .two_columns.latest_news_large
    %h3 Latest News Articles
    %div.grey.small
      :markdown
        News articles are automatically gathered from [Google News](http://news.google.ca) by searching for the full names of the candidates in the upcoming Manitoba election.
    %br
    = render 'news_articles', :news_articles => @news_by_date
    %br
    = paginate @news_articles
  .one_column
    %h3 Manitoba Election Tweets
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '#mbvotes',
    interval: 6000,
    title: 'Tweets Hash-tagged With',
    subject: '#mbvotes',
    width: 'auto',
    height: 600,
    theme: {
    shell: {
    background: '#eeeeee',
    color: '#808080'
    },
    tweets: {
    background: '#eeeeee',
    color: '#444444',
    links: '#3B59BB'
    }
    },
    features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: false,
    timestamp: true,
    avatars: true,
    toptweets: false,
    behavior: 'default'
    }
    }).render().start();
    </script>


