%p
  %strong Politicians:
  = politician_count
  %br
  %strong Constituencies:
  = constituency_count
  %br
  %strong News Awaiting Moderation:
  = news_awaiting_moderation
  = link_to 'moderate', '/news_articles/moderate'
