$link_color: #3B59BB
$line_height: 1.3

.ndp
  background-color: lighten(#F68220,36) !important

@mixin drop-shadow($ho, $vo, $b, $a)
  -o-box-shadow:      $ho $vo $b rgba(0, 0, 0, $a)
  -icab-box-shadow:   $ho $vo $b rgba(0, 0, 0, $a)
  -khtml-box-shadow:  $ho $vo $b rgba(0, 0, 0, $a)
  -moz-box-shadow:    $ho $vo $b rgba(0, 0, 0, $a)
  -webkit-box-shadow: $ho $vo $b rgba(0, 0, 0, $a)
  box-shadow:         $ho $vo $b rgba(0, 0, 0, $a)

@mixin rounded($tl, $tr, $br, $bl)
  -o-border-radius: $tl $tr $br $bl
  -icab-border-radius: $tl $tr $br $bl
  -khtml-border-radius: $tl $tr $br $bl
  -moz-border-radius: $tl $tr $br $bl
  -webkit-border-top-right-radius: $tr
  -webkit-border-top-left-radius: $tl
  -webkit-border-bottom-right-radius: $br
  -webkit-border-bottom-left-radius: $bl
  border-radius: $tl $tr $br $bl

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-family: Verdana, Helvetica, Arial
  vertical-align: baseline

h1, h2, h3, h4, h5, h6,
  margin: 0 0 0.5em 10px
  padding: 0
  border: 0
  vertical-align: baseline
  font-family: Georgia, 'Bitstream Charter', serif

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-family: Georgia, 'Bitstream Charter', serif

footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1
  font-size: 14px
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: none
  
table
  border-collapse: collapse
  border-spacing: 0

a
  color: $link_color
  text-decoration: none
  img
    border: none

p
  margin-bottom: 1em
  margin-left: 10px

a:hover
  text-decoration: underline

#container
  width: 960px
  margin: 0 auto

header
  background: url(/images/MEheader_3col.png) no-repeat bottom right
  padding: 2em 10px 0 10px
  margin-bottom: 1em
  height: 75px
  h1
    font-size: 3em
    margin: -10px 0 0 0
    a
      color: #202040
      font-family: Georgia, 'Bitstream Charter', serif
  h3
    font-size: 1.2em
    color: #4a4a6f
    margin: 0.5em 0 0 0 
  h1, h3
    font-style: italic

#main
  h2.title
    margin-top: 10px

.flow_it
  width: 100%
  overflow: hidden
  zoom: 1
  margin-bottom: 1em

.non_column
  margin-left: 10px

.one_column, .two_columns, .three_columns
  @include drop-shadow(0, 2px, 5px, 0.2)
  margin: 10px
  border: 1px solid #e4e4e4
  padding: 10px
  float: left
  background-color: #eee
  color: #333
  p
    margin-bottom: 1em
    margin-left: 0

.non_column, .one_column, .two_columns, .three_columns
  line-height: $line_height
  ul
    margin-left: 15px
    margin-bottom: 1em
  h1, h2, h3, h4
    margin-bottom: 1em
    margin-left: 0
  
.three_columns
  width: 918px

.two_columns
  width: 598px

.one_column
  width: 278px

.article
  margin-bottom: 2em
  h3
    margin-bottom: 5px 
  p.date
    font-size: 0.75em
    margin-bottom: 1.1em
  p.summary
    font-size: 0.9em
  p.summary, p.summary b, p.summary em, p.date
    font-family: Georgia, 'Bitstream Charter', serif

p.article_notice
  color: #666
  font-size: 0.9em
  margin-bottom: 20px
  margin-top: -10px
    

.politicians, .incumbents
  margin-top: 1em 
  .politician
    position: relative
    @include drop-shadow(0, 2px, 5px, 0.2)
    margin: 10px
    width: 288px
    border: 1px solid #e4e4e4
    min-height: 160px
    padding-left: 10px
    background-color: #eee
    float: left
    p
      margin-left: 0
    .name
      margin: 1em 0
      .incumbent_link
        a
          font-style: italic
          font-size: 0.75em
    .election_website
      font-size: 0.85em
      margin-bottom: 1em
    .phone, .party, .news
      font-size: 0.75em
    .image
      @include drop-shadow(1px, 1px, 8px, 0.3)
      position: absolute
      top: 0
      right: 0
      text-align: center
      width: 108px
      background-color: #dbdbda
      padding: 4px 0 2px 0
    .icons
      margin-bottom: 10px
      a img
        border-bottom: 2px solid $link_color

.incumbents, .politicians
  .show_constituency
    min-height: 200px
    .constituency
      margin-top: 10px
      a
        font-weight: bold
        font-size: 1.2em
      .since
        font-size: 0.75em
        margin-top: 0
      a, .since
        color: #777
  

.social
  p
    margin-top: 1em

.breadcrumbs
  margin-left: 10px
  color: #999
  font-size: 0.9em
  a
    color: lighten($link_color, 13)

.visible_block_when_mobile
  display: none

.grey
  color: #777

.small
  font-size: 0.8em

#main
  position: relative
  #feedback
    @include drop-shadow(0, 2px, 4px, 0.2)
    margin: 1em 0 1em 10px
    padding: 1em 1em 0.1em 1em
    position: absolute
    top: 0
    right: 0
    width: 150px
    background-color: #eeffaa

@media all and (max-width: 959px) 
  header
    background: url(/images/MEheader_2col.png) no-repeat bottom right
    padding-top: 1em
    height: 100px
    h1
      margin-top: 0.5em
  #container
    width: 640px
  .three_columns
    width: 598px

@media all and (max-width: 639px) 
  header
    background: none
    padding-top: 0.5em
    height: auto
    h1
      margin-top: 0
      font-size: 2.7em
    h3
      font-size: 1.03em
  #container
    width: 320px
  .three_columns, .two_columns
    width: 278px
  .visible_block_when_mobile
    display: block
  .hidden_block_when_mobile
    display: none
  #main
    #feedback
      position: static
      width: auto
