html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 10px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Georgia, "Bitstream Charter", serif; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: Georgia, "Bitstream Charter", serif; }

footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #3b59bb;
  text-decoration: none; }
  a img {
    border: none; }

p {
  margin-bottom: 1em;
  margin-left: 10px; }

a:hover {
  text-decoration: underline; }

#container {
  width: 960px;
  margin: 0 auto; }

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 25px;
  padding-top: 20px;
  font-size: 10px;
  color: #bbbbbb;
  clear: both; }

header {
  background: url(/images/MEheader_3col.png) no-repeat bottom right;
  padding: 25px 10px 0 10px;
  height: 80px;
  margin-right: 14px; }
  header h1 {
    font-size: 41px;
    margin: -10px 0 0 0; }
    header h1 a {
      color: #202040;
      font-family: Georgia, "Bitstream Charter", serif; }
  header h3 {
    font-size: 1.2em;
    color: #4a4a6f;
    margin: 0.5em 0 0 0; }
  header h1, header h3 {
    font-style: italic; }

#main {
  margin-top: 1em; }
  #main h2.title {
    margin-top: 10px; }

.flow_it {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 1em; }

.non_column {
  margin-left: 10px; }

.one_column, .two_columns, .three_columns, .two_columns_early_shrink {
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -icab-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  float: left;
  background-color: #eeeeee;
  color: #333333; }
  .one_column p, .two_columns p, .three_columns p, .two_columns_early_shrink p {
    margin-bottom: 1em;
    margin-left: 0; }

.non_column, .one_column, .two_columns, .three_columns, .two_columns_early_shrink {
  line-height: 1.3; }
  .non_column ul, .non_column ol, .one_column ul, .one_column ol, .two_columns ul, .two_columns ol, .three_columns ul, .three_columns ol, .two_columns_early_shrink ul, .two_columns_early_shrink ol {
    margin-left: 2em;
    margin-bottom: 1em; }
  .non_column h1, .non_column h2, .non_column h3, .non_column h4, .one_column h1, .one_column h2, .one_column h3, .one_column h4, .two_columns h1, .two_columns h2, .two_columns h3, .two_columns h4, .three_columns h1, .three_columns h2, .three_columns h3, .three_columns h4, .two_columns_early_shrink h1, .two_columns_early_shrink h2, .two_columns_early_shrink h3, .two_columns_early_shrink h4 {
    margin-bottom: 1em;
    margin-left: 0; }

.three_columns {
  width: 918px; }

.two_columns {
  width: 598px; }

.two_columns_early_shrink {
  width: 598px; }

.one_column {
  width: 278px; }

.two_column_flow {
  width: 640px;
  float: left; }

.one_column_flow {
  width: 320px;
  float: left; }

.medium_row {
  height: 350px; }

.short_row {
  height: 235px; }

.article {
  margin-bottom: 2em; }
  .article h3 {
    margin-bottom: 5px; }
  .article p.date {
    font-size: 0.75em;
    margin-bottom: 1.1em; }
  .article p.summary {
    font-size: 0.9em; }
  .article p.summary, .article p.summary b, .article p.summary em, .article p.date {
    font-family: Georgia, "Bitstream Charter", serif; }

p.article_notice {
  color: #666666;
  font-size: 0.9em;
  margin-bottom: 20px;
  margin-top: -10px; }

.politicians .politician p.name, .unshuffled_politicians .politician p.name {
  position: absolute; }
.politicians .politician .election_website, .politicians .politician .website, .unshuffled_politicians .politician .election_website, .unshuffled_politicians .politician .website {
  margin-top: 3em; }

.politicians .politician, .politicians .party, .incumbents .politician, .incumbents .party, .parties .politician, .parties .party, .unshuffled_politicians .politician, .unshuffled_politicians .party {
  position: relative;
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -icab-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 288px;
  border: 1px solid #e4e4e4;
  min-height: 170px;
  padding-left: 10px;
  background-color: #eeeeee;
  float: left; }
  .politicians .politician p, .politicians .party p, .incumbents .politician p, .incumbents .party p, .parties .politician p, .parties .party p, .unshuffled_politicians .politician p, .unshuffled_politicians .party p {
    margin-left: 0;
    color: #333333; }
  .politicians .politician p.name, .politicians .party p.name, .incumbents .politician p.name, .incumbents .party p.name, .parties .politician p.name, .parties .party p.name, .unshuffled_politicians .politician p.name, .unshuffled_politicians .party p.name {
    margin: 1em 0;
    font-size: 11.5px; }
    .politicians .politician p.name a, .politicians .party p.name a, .incumbents .politician p.name a, .incumbents .party p.name a, .parties .politician p.name a, .parties .party p.name a, .unshuffled_politicians .politician p.name a, .unshuffled_politicians .party p.name a {
      font-size: 11.5px; }
    .politicians .politician p.name .incumbent_link a, .politicians .party p.name .incumbent_link a, .incumbents .politician p.name .incumbent_link a, .incumbents .party p.name .incumbent_link a, .parties .politician p.name .incumbent_link a, .parties .party p.name .incumbent_link a, .unshuffled_politicians .politician p.name .incumbent_link a, .unshuffled_politicians .party p.name .incumbent_link a {
      font-style: italic;
      font-size: 10px; }
  .politicians .politician .election_website, .politicians .politician .website, .politicians .party .election_website, .politicians .party .website, .incumbents .politician .election_website, .incumbents .politician .website, .incumbents .party .election_website, .incumbents .party .website, .parties .politician .election_website, .parties .politician .website, .parties .party .election_website, .parties .party .website, .unshuffled_politicians .politician .election_website, .unshuffled_politicians .politician .website, .unshuffled_politicians .party .election_website, .unshuffled_politicians .party .website {
    color: #999999;
    font-size: 0.8em;
    margin-bottom: 1em; }
  .politicians .politician .phone, .politicians .politician .candidate_party, .politicians .politician .news, .politicians .politician .address, .politicians .politician .qanda, .politicians .party .phone, .politicians .party .candidate_party, .politicians .party .news, .politicians .party .address, .politicians .party .qanda, .incumbents .politician .phone, .incumbents .politician .candidate_party, .incumbents .politician .news, .incumbents .politician .address, .incumbents .politician .qanda, .incumbents .party .phone, .incumbents .party .candidate_party, .incumbents .party .news, .incumbents .party .address, .incumbents .party .qanda, .parties .politician .phone, .parties .politician .candidate_party, .parties .politician .news, .parties .politician .address, .parties .politician .qanda, .parties .party .phone, .parties .party .candidate_party, .parties .party .news, .parties .party .address, .parties .party .qanda, .unshuffled_politicians .politician .phone, .unshuffled_politicians .politician .candidate_party, .unshuffled_politicians .politician .news, .unshuffled_politicians .politician .address, .unshuffled_politicians .politician .qanda, .unshuffled_politicians .party .phone, .unshuffled_politicians .party .candidate_party, .unshuffled_politicians .party .news, .unshuffled_politicians .party .address, .unshuffled_politicians .party .qanda {
    font-size: 0.75em;
    margin-bottom: 0.7em; }
  .politicians .politician .qanda span, .politicians .party .qanda span, .incumbents .politician .qanda span, .incumbents .party .qanda span, .parties .politician .qanda span, .parties .party .qanda span, .unshuffled_politicians .politician .qanda span, .unshuffled_politicians .party .qanda span {
    color: #14510f; }
  .politicians .politician .image, .politicians .party .image, .incumbents .politician .image, .incumbents .party .image, .parties .politician .image, .parties .party .image, .unshuffled_politicians .politician .image, .unshuffled_politicians .party .image {
    -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -icab-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 117px;
    background-color: #dbdbda;
    padding: 4px 0 2px 0; }
    .politicians .politician .image img, .politicians .party .image img, .incumbents .politician .image img, .incumbents .party .image img, .parties .politician .image img, .parties .party .image img, .unshuffled_politicians .politician .image img, .unshuffled_politicians .party .image img {
      height: 104px; }
    .politicians .politician .image p, .politicians .party .image p, .incumbents .politician .image p, .incumbents .party .image p, .parties .politician .image p, .parties .party .image p, .unshuffled_politicians .politician .image p, .unshuffled_politicians .party .image p {
      margin: 0;
      font-size: 0.8em;
      font-weight: bold; }
  .politicians .politician .icons, .politicians .party .icons, .incumbents .politician .icons, .incumbents .party .icons, .parties .politician .icons, .parties .party .icons, .unshuffled_politicians .politician .icons, .unshuffled_politicians .party .icons {
    margin-bottom: 10px; }
    .politicians .politician .icons a img, .politicians .party .icons a img, .incumbents .politician .icons a img, .incumbents .party .icons a img, .parties .politician .icons a img, .parties .party .icons a img, .unshuffled_politicians .politician .icons a img, .unshuffled_politicians .party .icons a img {
      border-bottom: 2px solid #3b59bb; }

.parties_thumb {
  overflow: auto;
  zoom: 1; }
  .parties_thumb .party_thumb {
    float: left;
    margin-right: 35px;
    margin-bottom: 10px; }
    .parties_thumb .party_thumb img {
      height: 105px;
      width: 160px; }

.parties .party {
  min-height: 208px; }
  .parties .party .image {
    width: 150px;
    height: 95px; }
    .parties .party .image img {
      height: 90px;
      max-width: 93%; }
  .parties .party p.icons {
    margin-bottom: 1.6em; }
  .parties .party p.name {
    font-weight: bold;
    font-size: 1.2em;
    width: 130px; }
    .parties .party p.name a {
      font-weight: bold;
      font-size: 100%; }

.incumbents .show_constituency, .politicians .show_constituency, .unshuffled_politicians .show_constituency {
  min-height: 208px; }
  .incumbents .show_constituency .constituency, .politicians .show_constituency .constituency, .unshuffled_politicians .show_constituency .constituency {
    margin-top: 10px; }
    .incumbents .show_constituency .constituency a, .politicians .show_constituency .constituency a, .unshuffled_politicians .show_constituency .constituency a {
      font-weight: bold;
      font-size: 1.2em; }
    .incumbents .show_constituency .constituency .since, .politicians .show_constituency .constituency .since, .unshuffled_politicians .show_constituency .constituency .since {
      font-size: 0.75em;
      margin-top: 0;
      margin-bottom: 0; }
    .incumbents .show_constituency .constituency a, .incumbents .show_constituency .constituency .since, .politicians .show_constituency .constituency a, .politicians .show_constituency .constituency .since, .unshuffled_politicians .show_constituency .constituency a, .unshuffled_politicians .show_constituency .constituency .since {
      color: #777788; }

.social p {
  margin-top: 1em; }

.breadcrumbs {
  margin-left: 10px;
  color: #999999;
  font-size: 0.9em; }
  .breadcrumbs a {
    color: #6981d0; }

.visible_block_when_mobile {
  display: none; }

.grey {
  color: #777777; }

.small {
  font-size: 0.8em; }

.tiny {
  font-size: 0.5em; }

#main {
  position: relative; }
  #main #feedback {
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -icab-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 1em 0 1em 10px;
    padding: 1em 1em 0.1em 1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background-color: #eeffaa; }

@media all and (max-width: 959px) {
  header {
    background: url(/images/MEheader_2col.png) no-repeat bottom right;
    padding-top: 1em;
    height: 100px; }
    header h1 {
      margin-top: 0.5em; }

  #container {
    width: 640px; }

  .three_columns {
    width: 598px; }

  .two_columns_early_shrink {
    width: 278px; } }
@media all and (max-width: 639px) {
  header {
    background: none;
    padding-top: 0.5em;
    height: auto; }
    header h1 {
      margin-top: 0;
      font-size: 2.7em; }
    header h3 {
      font-size: 1.03em; }

  #container {
    width: 320px; }

  .three_columns, .two_columns {
    width: 278px; }

  .two_column_flow {
    width: 320px; }

  .visible_block_when_mobile {
    display: block; }

  .hidden_block_when_mobile {
    display: none; }

  #main #feedback {
    position: static;
    width: auto; }
  #main p.breadcrumbs {
    margin-top: 10px; } }
form.formtastic legend {
  font-weight: bold; }
form.formtastic fieldset {
  padding: 10px 0; }
form.formtastic ol {
  list-style: none; }

.latest_news_small h4, .latest_news_large h4 {
  color: #666666; }
.latest_news_small span.source, .latest_news_large span.source {
  color: #444444;
  font-size: 0.8em; }
.latest_news_small ul, .latest_news_large ul {
  list-style: none;
  margin-left: 0; }
  .latest_news_small ul li, .latest_news_large ul li {
    border-bottom: 1px solid #dddddd; }
.latest_news_small p.link, .latest_news_large p.link {
  margin-bottom: 0; }

.latest_news_small ul, .latest_news_small p.more {
  font-size: 12px; }
.latest_news_small ul li {
  margin-bottom: 5px; }
.latest_news_small p.date {
  color: #666666;
  margin-bottom: 5px;
  font-size: 11px; }
.latest_news_small p.mentions {
  color: #888888;
  font-size: 10px; }

.latest_news_large ul {
  font-size: 13px; }
  .latest_news_large ul li {
    margin-bottom: 10px; }
.latest_news_large p.mentions {
  color: #888888;
  font-size: 11px; }

.one_column table, .two_columns table, .three_columns table {
  font-size: 0.9em;
  margin: 1.5em 0; }
  .one_column table tr, .two_columns table tr, .three_columns table tr {
    border: 1px solid #999999; }
  .one_column table td, .one_column table th, .two_columns table td, .two_columns table th, .three_columns table td, .three_columns table th {
    padding: 5px; }
  .one_column table th, .two_columns table th, .three_columns table th {
    color: #444444;
    background-color: #dddddd;
    text-align: left; }

div#cse table {
  margin: 0; }
  div#cse table tr {
    border: none; }

.mini_maps {
  float: left;
  margin-left: 12px; }
  .mini_maps div {
    height: 150px;
    width: 125px; }
    .mini_maps div p {
      margin-bottom: 3px; }

.election_countdown {
  font-weight: bold;
  font-size: 1.15em;
  margin-top: 1.2em; }

div#questionnaires p, div#questionnaires em, div#questionnaires strong, div#questionnaires a {
  font-family: arial, sans-serif;
  font-size: 13px; }

div.questionnaire {
  font-size: 0.9em; }

.official_map {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em; }

.constit_description {
  position: relative;
  font-size: 0.9em; }

.notice {
  background-color: #eeffaa;
  border: 1px solid #efffaf;
  margin-bottom: 1.5em; }
