<div class='menu hidden_block_when_mobile'> 
    <ul> 
        <li><a href="/">Home</a></li> 
    </ul>
    <ul>
        <li><a class="nohover" href="#">Candidates</a>
            <ul>
                <li><a href="/maps/1/winnipeg">Winnipeg</a></li>
                <li> <a href="/maps/2/brandon">Brandon</a></li>
                <li><a href="/maps/3/southern-manitoba">Southern Manitoba</a></li>
                <li><a href="/maps/4/northern-manitoba">Northern Manitoba</a></li>
                <li><a href="/candidates/incumbents">Incumbent Candidates</a></li> 
            </ul>
        </li>
        <li class="close"><a href="#url">close x</a></li>
    </ul> 
    <ul>
        <li><a href="/news_articles">Latest News</a></li> 
    </ul>
    <ul>
        <li><a class="nohover" href="#">Election Info</a>
            <ul> 
              <li><a href="/pages/4/your-role-as-a-voter">Your Role as a Voter '11</a></li> 
              <li><a href="/pages/15/your-role-as-a-voter-2012">Your Role as a Voter '12</a></li> 
              <li><a href="/pages/10/voter-education">Voter Education</a></li>
              <li><a href="/issues">Election Issues</a></li> 
              <li><a href="/historic-maps">Historic Election Results</a></li>
              <li><a href="/parties">The Political Parties</a></li>
            </ul> 
        </li>
        <li class="close"><a href="#url">close x</a></li>
    </ul> 
    <ul>
        <li><a href="/search">Search</a></li>
    </ul>
    <ul>
        <li><a class="nohover" href="/pages/1/about-us">About</a>
            <ul> 
              <li><a href="/pages/1/about-us">About Us</a></li> 
              <li><a href="/pages/2/faq">Frequently Asked Questions</a></li> 
              <li><a href="/pages/16/press-mentions">Press Mentions</a></li> 
              <li><a href="/pages/17/press-releases">Press Releases</a></li> 
            </ul> 
        </li>
        <li class="close"><a href="#url">close x</a></li>
    </ul>
</div>
