<% breadcrumb 'search', request.fullpath %>
<div class='flow_it'> 
  <div class='three_columns'> 
    <h1>Search</h1> 
    <div id="cse" style="width: 100%;">Loading</div>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript"> 
      google.load('search', '1', {language : 'en'});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('003769614158555112897:virkyshokwg');
        customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
      }, true);
    </script>
  </div>
</div>
